<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 1.1 spring扫描controller(其它的不要扫描) -->
    <context:component-scan base-package="com.leqiang222.ssm">
        <!-- 制定扫包规则 ,只扫描使用@Controller 注解的 JAVA 类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 2.1 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- jsp文件所在目录-->
        <property name="prefix" value="/pages/"></property>
        <!--  文件的后缀名 -->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 3.1 设置静态资源不过滤 -->
    <mvc:resources location="/css/" mapping="/css/**" />
    <mvc:resources location="/img/" mapping="/img/**" />
<!--    <mvc:resources location="/js/" mapping="/js/**" />-->
    <mvc:resources location="/plugins/" mapping="/plugins/**" />

    <!-- 4.1 开启对springmvc注解的支持 -->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!--
        支持AOP的注解支持，AOP底层使用代理技术
        JDK动态代理，要求必须有接口 cglib代理，生成子类对象，proxy-target-class="true" 默认使用cglib的方式
    -->
<!--    <aop:aspectj-autoproxy proxy-target-class="true"/>-->

</beans>